{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + ticket.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_helpdesk_tickets', username=ticket.author.username) }}">{{ ticket.author.username }}</a>
        <small class="text-muted">{{ ticket.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <p class="article-content"><b>{{ ticket.department }}</b></p>
      <h2 class="article-title">{{ ticket.title }}</h2>
      <p class="article-content">{{ ticket.content }}</p>
      <div>
          <a class="btn btn-secondary btn-sm mt-2 mb-2" href="{{ url_for('reply_helpdesk_ticket', ticket_id=ticket.id) }}">Reply</a>
      </div>
    </div>
    

  </article>
  <!-- Modal -->
  

{% endblock content %}