{% extends "layout2.html" %}
{% block content %}
    <h1>Management Page - Orders</h1><br><br>
    <div class="container">
        <br><a class="btn btn-secondary btn-sm mt-1" href="{{ url_for('mgmt_orders') }}">Back </a><br><br>
    </div>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
     


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-light">
          
        <tr>
            <th>Id</td>
            <th>Name</td>
          </tr>
        </thead>
        <tbody>
          {% for order_item in order_items %}
          
          <tr>
              <td>{{ order_item.id }}</td> 
              <td>{{ order_item.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
       
 

   
          
{% endblock content %}
