{% extends "layout.html" %}
{% block content %}
{% if current_user.privilege == 'User' %}
    <a href="{{ url_for('new_helpdesk_ticket') }}" class="btn btn-secondary btn-sm">Add Ticket</a><br>
    <br>
  {% endif %}    
<h1 class="mb-3">tickets by {{ user.username }} ({{ tickets.total }})</h1>
    {% for ticket in tickets.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + ticket.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_helpdesk_tickets', username=ticket.author.username) }}">{{ ticket.author.username }}</a>
              <small class="text-muted">{{ ticket.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('helpdesk_ticket', ticket_id=ticket.id) }}">{{ ticket.title }}</a></h2>
            <p class="article-content">{{ ticket.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in tickets.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if tickets.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('user_helpdesk_tickets', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_helpdesk_tickets', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}